/* Layout and navbar/footer styles */

a.navbar-brand[b-7n6jfcss2z] {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    font-weight: bold;
    font-size: 1.5rem;
}

a[b-7n6jfcss2z] {
    color: #0077cc;
    text-decoration: none;
}

.navbar-nav .nav-link[b-7n6jfcss2z] {
    font-weight: 500;
    transition: color 0.2s;
}

.navbar-nav .nav-link:hover[b-7n6jfcss2z] {
    color: #1b6ec2;
}

.nav-pills .nav-link.active[b-7n6jfcss2z], .nav-pills .show > .nav-link[b-7n6jfcss2z] {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.btn-primary[b-7n6jfcss2z] {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
    transition: background-color 0.2s, transform 0.2s;
}

.btn-primary:hover[b-7n6jfcss2z] {
    background-color: #155fa0;
    transform: translateY(-2px);
}

.border-top[b-7n6jfcss2z] {
    border-top: 1px solid #e5e5e5;
}

.border-bottom[b-7n6jfcss2z] {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-7n6jfcss2z] {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-7n6jfcss2z] {
    font-size: 1rem;
    line-height: inherit;
}

.footer[b-7n6jfcss2z] {
    position: relative;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    background-color: #1b6ec2;
    color: #fff;
    font-weight: 500;
    text-align: center;
}
